.parentTop{
    margin-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridTop{
    border-color: "#f44336";
    border: '1px solid red';
    display: flex;
    flex-direction: column;
}

.lightBackground {
    background-color: 00FFFF
}

.columnsStyle {
    display: flex;
    flex-direction: column;
}

.rowStyle {
    display: flex;
}

.darkBackground {
    background-color: F0FFFF
}

.box {
    width: 100;
    height: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.cross{
    color: #f90;
    font-size: 2.5em;
    border-radius: 5px;
    line-height: 100px;
}

.restartGame {
    display: block;
    text-align: center;
}
