
<div class="header"><h1> Tic Tac @ Hiver</h1></div>

<div. class="restartGame">
	<button onclick="initRestart()">Restart Game</button>
</div>

<div class="parentTop">
    <div class="gridTop">
        <div id="grid">

        </div>
    </div>
</div>


<script type="text/javascript" src="./index.js" ></script>
<link rel="stylesheet" href="./index.css">
